<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Mode - Job Listing Website</title>
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <header>
      <h1>
        <a href="/">JOB MODE</a>
      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
  </header>
  {{{body}}}
  <footer>
    <p>Job Mode LLC</p>
  </footer>
</body>

</html>
