<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Registry</title>
  <link rel="stylesheet" href="/css/jass.css">
</head>

<body>
  <header style="width:100%; height: 100px; background-color:rgb(187, 147, 208)">
    <h1>
      JOB MODE
    </h1>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer style="width:100%; height: 100px; background-color:rgb(187, 147, 208)">
      <p>Job Mode LLC</p>
  </footer>
</body>
</html>
