<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Mode - Job Listing Website</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bulma.css">
</head>

<body>
  <header>
    <div class="header-content">
      <a class="logo" href="/">
        <h3><span id="logo-job">JOB</span><span>MODE</span></h3>
      </a>
      <nav>
        {{#if logged_in}}
        <a class="profile-link" href="/profile">profile</a>
        <a class="logout-button" id="logout">logout</a>
        {{else}}
        <a class="login-button" href="/login">login</a>
        {{/if}}
      </nav>
    </div>
  </header>
  <main>
    {{{body}}}
  </main>
  <footer>
  </footer>
</body>

</html>

<script src="./js/logout.js"></script>