<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Job Mode - Job Listing Website</title>
  <link rel="stylesheet" type="text/css" href="./public/css/styles.css">

</head>

<body>
  <header>
    <h1>Job Mode LLC</h1>
    <button class="login-button">Login</button>
  </header>
  {{{body}}}
  <footer>
    <p>Job Mode LLC</p>
  </footer>
</body>

</html>
