<div class="filter-container">
  <div class="dropdown">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Location</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a href="#" class="dropdown-item">
          Remote
        </a>
        <a class="dropdown-item">
          Hybrid
        </a>
        <a class="dropdown-item">
          On-Site
        </a>
      </div>
    </div>
  </div>
  <div class="dropdown">
    <div class="dropdown-trigger">
      <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
        <span>Experience</span>
        <span class="icon is-small">
          <i class="fas fa-angle-down" aria-hidden="true"></i>
        </span>
      </button>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
      <div class="dropdown-content">
        <a href="#" class="dropdown-item">
          Beginner
        </a>
        <a class="dropdown-item">
          Intermediate
        </a>
        <a class="dropdown-item">
          Experienced
        </a>
      </div>
    </div>
  </div>
  <input class="input" type="number" id="numericalInput" placeholder="Min Salary">


  <button class="button" id="search">Search</button>
</div>
<div class="job-listings">
  {{#each jobs as |job|}}
  <div class="job-item">
    <div class="job-info">
      <h3><a href="/jobs/{{job.id}}">{{job.title}}</a></h3>
      <p>{{job.company}} - {{#if job.remote}} Remote {{/if}} {{#if job.hybrid}} Hybrid {{/if}} {{#if job.onSite}} On
        Site {{/if}}</p>
    </div>
    <div class="job-savebutton">
      <button id="saveJobButton" class="button is-link save-job" data-job-id="{{job.id}}">Save Job</button>
    </div>
  </div>
  {{/each}}
</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {

    var dropdowns = document.querySelectorAll('.dropdown:not(.is-hoverable)');

    if (dropdowns.length > 0) {
      dropdowns.forEach(function (el) {
        el.addEventListener('click', function (e) {
          e.stopPropagation();
          if (e.target.matches('.dropdown-item')) {
            el.querySelector('.button span').textContent = e.target.textContent;
          }
          el.classList.toggle('is-active');
        });
      });

      document.addEventListener('click', function (e) {
        closeDropdowns();
      });
    }

    function closeDropdowns() {
      dropdowns.forEach(function (el) {
        el.classList.remove('is-active');
      });
    }

  });
</script>

<script src="./js/search.js"></script>

<script src="./js/save.js"></script>